@font-face{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Roboto-Regular"), url('../assets/fonts/Roboto-Regular.otf') format("truetype");
}


html {
  background: #eee;
  background-repeat: no-repeat;
  background-size: 100% 260px;
  background-position: 0 0;
  background-image: linear-gradient(rgb(50,177,212), rgb(50,177,212));
  /*background-image: linear-gradient(rgb(0,110,212), rgb(0,110,212));*/
}

body {
  line-height: 1.4;
  max-width: 1900px;
  margin: 20px auto;
}
@media only screen and (min-width: 1600px){
  main-view md-toolbar:not(.md-menu-toolbar) {
    height: 240px;
  }
}
md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar){
  /*background-color:#106CC8;*/
  background-color:#2196F3;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
md-toolbar.md-tall {
  height: 240px;
  min-height: 240px;
  max-height: 240px;
}    
md-toolbar:not(.md-menu-toolbar) .logo-container {           
  align-items: center;
  display: flex;
  flex: 200;
  height: 40%;
  justify-content: center;
  left: 50%;
  top:25%;
  position: absolute;
  right: 50%;
  margin-top: 21px;
}
.md-tab{
  font-size:125%;
}

.md-subhead-estilo2{
  font-size:130%;
}
th, td, md-input-container {
  font-size:150%;
}
md-button{
  width: 50%;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; 
}

.md-toolbar-tools, .md-toolbar-tools-estilo2 {

}
.md-toolbar-tools-estilo2 {
  background-color:  #82B1FF;
}

#map {
  width: 65%; 
  height: 57%; 
  position: absolute;
}

#markerlist {
  height:600px;
}

#markerlist_view {
  /*height: 25%;*/
}

#searchFilter {
  font-size: 100%;
  background-color:  #82B1FF;
  position: absolute;
}