@font-face{
    font-family: 'Roboto-Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Roboto-Regular"), url('../assets/fonts/Roboto-Regular.otf') format("truetype");
}


html {
  background: #eee;
  background-repeat: no-repeat;
  background-size: 100% 260px;
  background-position: 0 0;
  background-image: linear-gradient(rgb(50,177,212), rgb(50,177,212));
  /*background-image: linear-gradient(rgb(0,110,212), rgb(0,110,212));*/
}

body {
  line-height: 1.4;
  max-width: 1900px;
  margin: auto !important;
  position: relative !important;
  top: 20px !important;
}

@media only screen and (min-width: 1600px){
  main-view md-toolbar:not(.md-menu-toolbar) {
    height: 240px;
  }
}
md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar){
  /*background-color:#106CC8;*/
  background-color:#2196F3;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.2);
}
md-toolbar.md-tall {
  height: 240px;
  min-height: 240px;
  max-height: 240px;
}    
md-toolbar:not(.md-menu-toolbar) .logo-container {           
  align-items: center;
  display: flex;
  flex: 200;
  height: 40%;
  justify-content: center;
  left: 50%;
  top:25%;
  position: absolute;
  right: 50%;
  margin-top: 21px;
}
.md-tab{
  font-size:125%;
}

.md-subhead-estilo2{
  font-size:130%;
}
th, td, md-input-container {
  font-size:150%;
}
md-button{
  width: 50%;
}

.listdemoBasicUsage md-divider {
  margin-top: 10px;
  margin-bottom: 0; 
}

.md-toolbar-tools, .md-toolbar-tools-estilo2 {

}
/*
.md-toolbar-tools-estilo2 {
  background-color:  #82B1FF;
}
*/

#map {
 height: 665px;
}

#markerlist {
  height: 600px;
}

#markerlist_view {
  /*height: 25%;*/
}

#searchFilter {
  font-size: 100%;
  position: absolute;
}

#searchFilterInput {
  color:#FFFFFF;
}

#searchFilter label {
  color: white !important;
}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #00BCD4;
}

#searchFilter.md-input-focused label {
  color: white !important;
}

#mapAdmin {
  width: 30%; 
  height: 43%; 
  position: absolute;
}

.form-control-estilo2 {
  font-size: 50%;
}

table thead tr th {
  padding-bottom: 20px;
}

md-list-item:nth-child(even) {
  background:rgba(158,158,158,0.1);
}

#commentlist{
  height: 300px;
}

.mySelect md-select-menu {
  margin-top: 45px !important;
}

.md-toolbar-tools-estilo3 {
  background-color: #ff5722;
}

#formulariosAdmin {
  margin-top: 80px;
}

.login_form {
  width: 320px;
  margin: 4em auto;
  padding: 3em 2em 2em 2em;
  background: #fafafa;
  border: 1px solid #ebebeb;
  box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
  margin-bottom: 45px; 
  max-height: 100%;
}

.group { 
  position: relative; 
}

.md-button-estilo2 {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  width: 100%;
  margin: auto;
}

#in_name{
  max-width: 50%; 
}

#eti_bd{
  background-color: #00BCD4;
}

#eti_g{
  background-color: #ff5722;
}

#home{
  background-color: #8BB69E;
}

#img_surf {
  width: 100%;
/*  margin-right: 0px !important;
  margin-left: 0px !important;
  margin: 0px !important;
  padding: 0px !important;*/
}

#div_surf {
  background-color: #1565c0;
}

.div-white {
  background-color: #FFFFFF;
}
.div-yellow {
  background-color: #cddc39;
}

#videoHome {

}

.div-home {
  padding-top: 100px;
  padding-bottom: 150px;
}

.md-card-image {
  width: 100%;
  height: auto;
}

.carta{
  width: 350px;
}

.iconcard {
  font-size: 24px !important;
}